<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="gdg.nat.ninjalearnjapanese"
    android:versionCode="2"
    android:versionName="1.0.1" >

    <uses-sdk
        android:minSdkVersion="10"
        android:targetSdkVersion="20" />

    <compatible-screens>

        <!-- all normal size screens -->
        <screen
            android:screenDensity="xhdpi"
            android:screenSize="normal" />
        <screen
            android:screenDensity="480"
            android:screenSize="normal" />
    </compatible-screens>

    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:name="gdg.ninja.util.App"
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <activity
            android:name="gdg.ninja.ui.SplashActivity"
            android:launchMode="singleTop"
            android:screenOrientation="portrait" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="gdg.ninja.ui.StartActivity"
            android:launchMode="singleTop" />
        <activity android:name="gdg.ninja.ui.GameActivity" />
        <activity android:name="gdg.ninja.ui.CustomGameActivity" />
        <activity android:name="gdg.ninja.ui.CreateCustomGameActivity" />
        <activity android:name="gdg.ninja.ui.HighScoreActivity" />
        <activity android:name="gdg.ninja.ui.OptionActivity" />
        <activity android:name="gdg.ninja.croplib.CropActivity" />

        <meta-data
            android:name="com.facebook.sdk.ApplicationId"
            android:value="@string/facebook_id" />

        <activity
            android:name="gdg.ninja.ui.HelpActivity"
            android:label="@string/title_activity_help" >
        </activity>
        <activity
            android:name="gdg.ninja.ui.AboutActivity"
            android:label="@string/title_activity_about" >
        </activity>

        <meta-data
            android:name="com.crashlytics.ApiKey"
            android:value="c2e8f6a06e960bd092711d1a109760662267b1e1" />
    </application>

</manifest>